<!DOCTYPE html>
<html lang = "en">
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

   </head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask 
            SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Students (<a href = "{{ url_for('new') }}">Add Student
         </a>)</h3>
      
      <table border -2>
         <thead>
            <tr>
               <th>Name</th>
               <th>City</th>
               <th>Address</th>
               <th>Pin</th>
            </tr>
         </thead>

         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ student.city }}</td>
                  <td>{{ student.addr }}</td>
                  <td>{{ student.pin }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>





      <a href="javascript://" onClick="Sijax.request('say_hi');">Click here</a>        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="{ URI to jQuery - not included with this project }"></script>
        <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
        <script type="text/javascript"> {{ g.sijax.get_js()|safe }} </script>

   </body>
</html>