<html>
    <head>
        
    </head>
    <body>

        <a href="javascript://" onClick="Sijax.request('say_hi');">Click here</a>        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="{ URI to jQuery - not included with this project }"></script>
        <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
        <script type="text/javascript"> {{ g.sijax.get_js()|safe }} </script>

        
    </body>
</html>