<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page.</title>
    <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'index.js') }}" ></script>
    
</head>
<body>
    <h1> 
        This is a Home page.

    </h1>
<!--     
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% endif %}

      {% if marks>50 %}
         <h1> Your result is pass!</h1>
      {% else %}
         <h1>Your result is fail</h1>
      {% endif %}
 -->


    
</body>
</html>